POSTGRES_DB=halthcare
POSTGRES_USER=user
POSTGRES_PASSWORD=password

AUTH_AUDIENCE=http://localhost:5188
AUTH_ISSUER=onlyDevIssuer_identityWebApi
AUTH_SECURITY_KEY=OnlyDevSecurityKey123456789_DONT_USE_DONT_USE_DONT_USE_DONT_USE_!!!